@page
@model Recipe_Sharing.Pages.Groups.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Group.Name</dd>
            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Group.Description</dd>
        </dl>
        <a asp-page="./Edit" asp-route-id="@Model.Group.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>