@page
@model Recipe_Sharing.Pages.Groups.IndexModel
@{
    ViewData["Title"] = "Groups";
}

<div class="container-fluid">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="form-group text-center"
        <div class="col-md-6">
            <a asp-page="Create" class="btn btn-primary mb-4">Create Group</a>
        </div>
    </div>
    <div class="row justify-content-center">
        @foreach (var group in Model.Group)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@group.Name</h5>
                        <p class="card-text">@group.Description</p>
                        <a href="@Url.Page("Details", new { id = group.Id })" class="btn btn-primary">View Group</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
