@page
@model Recipe_Sharing.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Review.Recipe" class="control-label">Review Title</label>
                    <input asp-for="Review.Recipe" class="form-control" />
                    <span asp-validation-for="Review.Recipe" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Review.Comment" class="control-label">Description</label>
                    <textarea asp-for="Review.Comment" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Review.Comment" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Create Review</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center">
        <a asp-page="Index" class="btn btn-primary btn-lg mt-3">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
