@page
@model Recipe_Sharing.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "Review Details";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                Review Title:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Review.Comment)
            </dd>

            <dt class="col-sm-4">
                Rating:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Review.Rating)
            </dd>

            <dt class="col-sm-4">
                Description:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Review.Recipe)
            </dd>
        </dl>

        <div class="form-group">
            <a asp-page="./Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>