@page
@model Recipe_Sharing.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Reviews";
}

<div class="container-fluid">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="form-group text-center"
        <div class="col-md-6">
            <a asp-page="Create" class="btn btn-primary mb-4">Create Review</a>
        </div>
    </div>
    <div class="row justify-content-center">
        @foreach (var review in Model.Review)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@review.Rating.</h5>
                        <p class="card-text">@review.Comment</p>
                        <a href="@Url.Page("Details", new { id = review.Id })" class="btn btn-primary">View Review</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>