@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="jumbotron jumbotron-fluid bg-primary text-white">
    <div class="container">
        <h1 class="display-4">Welcome to Recipe Sharing</h1>
        <p class="lead">Discover, share, and save your favorite recipes from around the world.</p>
    </div>
</header>


